@import url(http://fonts.googleapis.com/earlyaccess/scheherazade.css);
body{
    text-align: right;
}

.content-style{
    font-size: larger;
    font-family: 'Tahoma', Georgia, 'Times New Roman', Times,serif ;
}

.summary-style{
        font-family: 'Tahoma', Georgia, 'Times New Roman', Times,serif !important ;
}